.clear{
    clear: both;
}
/*头部开始*/
.head{
    width:100%;
    height:1.45rem;
    background: #0092ff;
    color:#fff;
    line-height:1.45rem;
    position: fixed;
    top: 0;
    left:0;
}
.head a{
    font-family: 'iconfont';
    font-size:.38rem;
    position: absolute;
    top:0;
    left: .3rem;
    color:#fff;
}
.head p{
    font-size:.5rem;
    text-align: center;
    font-weight: bold;
}
.head i{
    font-size:.38rem;
    position: absolute;
    top:0;
    right: .3rem;
}
/*头部结束*/

/*底部开始*/
.buttom{
    width:100%;
    height:1.46rem;
    border-top:.02rem solid #eeeeee;
    position: fixed;
    bottom: 0;
    left:0;
}
.checkbox{
    /*height:1.46rem;*/
    float: left;
}
#checkbox{
    width:.63rem;
    height:.63rem;
    margin:0 .3rem;
}
.buttom i{
    color:#747474;
    font-size:.36rem;
    float: left;
    line-height:1.46rem;
}
.total_price{
    width:5.7rem;
    height: 100%;
    float: right;
    font-size:.38rem;
    line-height:1.46rem;
}
.total_price em{
    color:#ff5500;
    font-size:.36rem;
    padding:0 .34rem;
}
.total_price div{
    height:100%;
    width:3.14rem;
    background:#ff5500;
    color:#fff;
    text-align: center;
    font-size:.46rem;
    float: right;
}
/*底部结束*/
/* 隐藏滚动条 */
.buy_list::-webkit-scrollbar,.content::-webkit-scrollbar{
    display: none;
}
/*购物列表开始*/
.buy_list{
    position: fixed;
    top:1.45rem;
    bottom:1.46rem;
    left:0;
    right:0;
    overflow-y: scroll;
}
.buy_list li{
    width:100%;
    height:5.13rem;
    border-bottom:.38rem solid #f4f4f4;
}
.buy_inner{
    width:10.2rem;
    margin:0 auto;
}
.list_head{
    width:100%;
    height:1.53rem;
    border-bottom:.03rem solid #eeeeee;
}
.list_head i{
    font-family: 'iconfont';
    font-size:.7rem;
    line-height: 1.53rem;
    color:#a8afb0;
    float: left;
}
.list_head P{
    font-size:.36rem;
    padding:0 .33rem;
    line-height: 1.53rem;
    float: left;
}
.list_head em{
    font-family: 'iconfont';
    line-height: 1.53rem;
    font-size:.4rem;
    font-weight: bold;
    float: left;
}
.list_head b{
    float: right;
    line-height: 1.53rem;
    font-size:.3rem;
}
.list_container img{
    width:2.8rem;
    height:2.8rem;
    margin:.1rem .36rem 0 .6rem;
    float:left;
}
.list_container h5{
    font-size:.34rem;
}
.list_container_type{
    max-width: 5rem;
    width: auto;
    height:auto;
    background:#f9f9f9;
    border-radius:.1rem;
    float: left;
    display: flex;
    align-content: center;
}
.list_container_type i{
    /*width:5rem;*/
     font-size:.3rem;
     color: #999999;
    float: left;
    padding:.1rem .1rem;
 }
.list_container_type em{
    font-family: 'iconfont';
    font-size:.3rem;
    color: #999999;
    float: left;
    display: grid;
    align-content: center;

}
.this_price{
    width:5rem;
    height:1.2rem;
    line-height: 1.2rem;
    float: left;
}
.this_price p{
    font-size:.34rem;
    color:#ff5500;
    float: left;
}
.this_num{
    width: 2.4rem;
    height:.6rem;
    border:.02rem solid #e0e0e0 ;
    border-radius:.1rem;
    float: right;
    margin: .3rem 0;
    line-height: .6rem;
    font-size:.24rem;
    text-align: center;
}
.this_num i{
    display: block;
    width:.7rem;
    float: left;

}
.this_num em{
    display: block;
    width:.9rem;
    float: left;
    border-left:.02rem solid #e0e0e0;
    border-right:.02rem solid #e0e0e0;
}
/*购物列表结束*/
